@{
    var getUrl = Url.Action("GetSubmissions", "Submission");
}
<script>
    var submissionUrl = '@getUrl';
</script>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Submission List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Submission" asp-action="SubmitForm" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; Submit a new form
            </a>
        </div>
    </div>

    <div id="submission-list">
        <table class="table table-borered table-striped" style="width:100%">
            <thead>
                <tr class="table-primary">
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Product Serial Number
                    </th>
                    <th>
                        Created date
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div>
    <ul class="pagination" id="pagination">
    </ul>
</div>

<script src="~/js/submission.js"></script>