@{
    var getUrl = Url.Action("GetSubmissions", "Submission");
}
<script>
    var submissionUrl = '@getUrl';
</script>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Submission List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Submission" asp-action="SubmitForm" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; Submit a new form
            </a>
        </div>
    </div>

    <div id="submission-list">
        <table class="table table-borered table-striped" style="width:100%">
            <thead>
                <tr class="table-primary">
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Product Serial Number
                    </th>
                    <th>
                        Created date
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div>
    <ul class="pagination" id="pagination">
    </ul>
</div>

<p>Photo by <a href="@Html.Raw("https://unsplash.com/@forest_ms?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash")">Forest Simon</a> on <a href="https://unsplash.com/photos/brown-pig-in-body-of-water-xa-fv2RQCPY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>


<script src="~/js/submission.js"></script>


<style>
    body {
        background-image: url(~/Images/jakob-owens-h8T1Wa4u7oU-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
    }
</style>